<h1>Editing User</h1>

<%= render 'form', user: @user %>
<br>
  <%= button_to "delete", @user, method: :delete, data: {:confirm => "You sure?" } %>
<br>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
