<h3> ACTIONS </H3>
<ul>
  <li><%= link_to "EDIT PROFILE", edit_user_registration_path %></li>
</ul>



<h3>Purchases</h3>

<% arr = LaptopOrder.where(user_id: @user.id).pluck(:laptop_id) %>

<ul>
<% if !arr.empty? %>
  <%  for i in arr%>
    <% if i != nil %>
      <li>
        <%= Laptop.find(i).model %>
      </li>
    <% end %>
  <% end %>
<% else %>
  <li>no purchases</li>
<% end %>
</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
