// Place all the styles related to the Laptops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.laptop-image {
  max-width: 50px;
}

.laptop-backup-image {
  background: url(image-path("laptop.png"));
  min-width: 50px;
  min-height: 50px;
  background-size: cover;
  background-position: left;
}